*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.top{
    height: 15%;
    width: 100%;
    background-color:lightsalmon;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_side{
    height: 100%;
    width: 50%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10%; */
}
.logo{
    width: 75px;
}
.right_side{
    height: 100%;
    width: 50%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    word-spacing: 100px;
    text-align: center;
    /* background-color: aqua; */
}
/* .right_side ul{
    display: flex;
    flex-direction: row;
} */
/* .right_side  ul li{
    list-style: none;
    /* display: inline-block; */
    /* margin: 0 25px;
    padding:10px ;
    
    /* margin-right: 40px; */
    /* position: relative; 
} */
.right_side a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
} 
.middle{
    height: 70%;
    width: 100%;
    padding: 30px;
    display: flex;
    /* background-color: brown; */
}
.left{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 40px 100px; */
}
.image{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}
.left p{
 font-size: 20px;   
 line-height: 25px;
 /* justify-content: space-between; */
}
.right{
    height: 100%;
    width: 70%;
    /* background-color: brown; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
.data{
    height: 335px; 
    width: 500px; 
    border-collapse: collapse; 
    text-align: center;
}
.down{
    height: 15%;
    width: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.down p{
    font-size: 15px;
}
@media only screen and (max-width:600px){
    [class*="col-1"]
    {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    [class*="col-2"]
    {
        height:50%;
        width: 50%;
        
    }
    [class*="col"]
    {
        width: 100%;
        height: auto;
        /* text-align: center; */
        /* display: flex;
        flex-direction: column; */
    }
    .top .right_side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}