body{
    height: 100vh;
    width: 100vw;

}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    /* background-color: blueviolet; */
}
.left {
    height: 50%;
    width: 20%;
    margin-top: 50px;
    margin-left: 50px;
    background-color: aqua;
}
.right {
    height: 50%;
    width: 20%;
    margin-top: 50px;
    margin-left: 50px;
    background-color: aqua;
}
.middle {
    height: 50%;
    width: 20%;
    margin-top: 50px;
    margin-left: 50px;
    background-color: aqua;
}
h1{
    background-color: blueviolet;
}
p{
    margin: 20px;
    background-color: aqua;
}